#title {
    font-size: 300%;
    text-align: center;
}
#subtitle {
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}
#instructions {
    text-align: left;
    padding:10px;
}
.togglepanel
{
	display:none;
}
.togglepanel.vis {
	display:block;
}
.activearea {
	width: 100%;
}
#grabbag {
	float: left;
	padding: 15px;
	margin: 15px;
}
#sortarea, #mergearea {
	min-height: 400px;
	float: left;
	position: relative;
	padding: 25px;
	margin: 15px;
    -webkit-box-shadow: 0 0 4px black; 
    -moz-box-shadow: 0 0 4px black;
    box-shadow: 0 0 4px black; 
}
#mergearea {
	background: #d6ebff; 
	border-radius: 10px;
}
.row {
    padding-top: 10px;
    padding-bottom: 30px;
}
.sortbin, .trash { 
    list-style-type: none; 
    margin-right: 10px; 
    padding: 5px; 
    min-height: 30px;
    min-width: 150px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px black; 
    -moz-box-shadow: 0 0 4px black;
    box-shadow: 0 0 4px black; 
}
.sortbin {
	background: #eee;
	float: left; 
}
.sortbin.sel {
    -webkit-box-shadow: 0 0 10px blue; 
    -moz-box-shadow: 0 0 10px blue;
    box-shadow: 0 0 10px blue; 
}
.trash {
	background: #ffa3a3;
	background-image: url("https://res.cloudinary.com/dao1qifsd/image/upload/v1438029625/Trash-can-icon_vf3afp.png");
	background-size: 30% 90%;
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
	min-height: 40px;
}
.trashbin {
    padding-top: 10px;
    position: absolute;
    bottom: 25px;
    right: 45px; 
}
#topic-box {
    background: #d6ebff; 
    min-height: 200px;
    min-width: 150px;
    list-style-type: none; 
    float: left; 
    padding: 5px; 
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px black; 
    -moz-box-shadow: 0 0 4px black;
    box-shadow: 0 0 4px black; 
}

.sortbin li, #topic-box li, .trashbin li{
    margin: 0px 3px 3px 0px;
    padding: 0px 3px 3px 3px;
    border-radius: 5px;
    float: left;
    text-align: center;
    background: white;
    text-indent: 0;
}
.topicWords {
    padding: 3px 3px 3px 3px;
    font-size: 1.15em;
}
.topics {
	cursor: pointer;
}
.goldtopic {
	
}
#frame {
    margin-top: 20px;
}
.dropdown-toggle {
	margin: 10px;
}
.btn-xlarge {
    padding: 12px 18px;
    font-size: 24px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.button-wrap {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
*{font-family: 'Open Sans';}